.placeholder {
    animation: rotation 3s linear infinite;
}

.placeholder-large {
    animation: rotation 6s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}